.Index {
    width: 100%;
    margin: 0 auto;
}

.Index-container {
   /* padding-top: 7rem; */
    color: rgba(255, 255, 255, 0.877);
    background-image: linear-gradient(to right, rgb(178, 111, 233),  rgb(143, 205, 241), rgb(255, 255, 255));
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    max-width: 1440px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.Index-words h1 {
    font-size: 4rem;
    margin: 2rem auto;
   
}

.Connect-button {
    color: white;
    background-color: rgb(50, 122, 206);
    border: 3px solid white;
    font-weight: bold;
}
.Connect-button:hover {
    color: rgb(50, 122, 206);
    background-color: white;
    font-weight: bold;
    transition: .3s;
    border: 3px solid rgb(50, 122, 206);
}
.Portfolio-button {
    color: white;
    background-color: rgb(41, 14, 92);
    border: 3px solid white;
    font-weight: bold;
}
.Portfolio-button:hover {
    color: rgb(41, 14, 92);
    background-color: white;
    font-weight: bold;
    transition: .3s;
    border: 3px solid rgb(41, 14, 92);
}

button {
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 1.5rem;
    border-radius: 25px;
}

.maxwidth {
    max-width: 200px;
}
.Index-words {
    grid-column: span 2;
}

p.Hi, p.Index-bio{
    font-size: 1.5rem;
}